%p#notice= notice
%p
	%b Title:
	= @source.title
%p
	%b Author:
	= @source.author
%p
	%b Tag:
	= @source.tag
%p
	%b Description:
	= @source.description
%p
	%b Language:
	= @source.language
%p
	%b Code:
	=sanitize highlight @source.code, @source.language

= link_to 'Back', sources_path
