%article{:class => "source"}
	%p
		%b Title:
		= @source.title
		%br
		%b Author:
		= @source.author
		%br
		%b Description:
		= @source.description
		%br
		~sanitize highlight @example.code, @example.language
		= link_to 'Download', "/sources/download/#{@source.id}"
	