!!! 5
%head
	%title
		Neumann.biz
		= title_helper
	= stylesheet_link_tag :neumann
	= stylesheet_link_tag :coderay
	= csrf_meta_tag
	= favicon_link_tag 'favicon.png'
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
%body
	%section{:id => 'page'}
		%header{:id => 'page_header'}
			%h1
				=title_helper
		%nav{:id => 'page_navigation'}
			%ul
				%li=link_to 'Home', '/'
				%li=link_to 'Lebenslauf', '/cv'
				%li
					%strong
						CIS / LMU
						Lehre
					%ul
						%li=link_to 'Data-Munging', '/data_munging'
						%li=link_to 'Logische Dokumentenanalyse', '/document_understanding'
						%li=link_to 'C++', '/cpp'
						%li=link_to 'Ten minutes of Ruby', '/ten_minutes_of_ruby'
				%li=link_to 'Publikationen', '/publikationen'
				%li
					%strong Studienarbeiten
					%ul
						%li=link_to 'Computerlinguistik', '/computerlinguistik-studium'
						%li=link_to 'DAF', '/daf-studium'
						%li=link_to 'Ethnologie', '/ethnologie-studium'
				%li=link_to 'Erwachsenenbildung', '/vortraege'
				%li=link_to 'Links', '/links'
				%li=link_to 'Impressum', '/impressum'
		%section{:id => 'page_main'}
			= yield
		.cleaner
		%footer{:id => 'page_footer'}
			=render :partial => 'shared/like'
			%p
				Konzeption, Design und Ausführung: Andreas Neumann
				%br
				=link_to '©  AN-iT', 'http://www.an-it.com'
				,
				=link_to  'Impressum', '/impressum'
			
			.cleaner
